@font-face {
    font-family: "Harabara Bold";
    src: url("https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i");
}

wrapper {
    display: flex;
    height: 100vh;

}
    wrapper > div {
        display: flex;
        align-items: center;
    }
    quoteBox {
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        max-width: 500px;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
        quote {
            grid-row: 1;
        }

        interactions {
            margin-top: 10%;
            grid-row: 2;
        }
